<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>IT - Clinic</title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/theme.css">
  <link rel="stylesheet" href="assets/css/demo.css">
</head>

<body>
  <!-- ini navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-4 fixed-top">
    <div class="container">
      <a class="navbar-brand" href="./"><strong>IT - Clinic</strong></a>
      </button>

      <div class="navbar-collapse" id="navbar_main">
        <ul class="navbar-nav ml-auto">
          <!-- shortcut - complete -->
          <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbar_main_dropdown_1" role="button" data-toggle="dropdown">Shortcut</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="homepage.html">Homepage</a>
                  <a class="dropdown-item" href="about.html">About us</a>
                  <a class="dropdown-item" href="sign-in.html">Sign in</a>
                  <a class="dropdown-item" href="contact.html">Contact</a>
                </div>
              </li> -->
          <!-- shortcut -->
          <li class="nav-item">
            <a href="sign-in.html" target="_blank" class="btn btn-sm bg-white">Sign In</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="register-teknisi.html">Looking for a Job?</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="about.html">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- akhir navbar -->
  <main class="main">
    <section class="spotlight parallax bg-cover bg-size--cover" data-spotlight="fullscreen" style="background-image: url('assets/img/fixing.jpg')">
      <span class="mask bg-tertiary alpha-7"></span>
      <div class="spotlight-holder py-lg pt-lg-xl">
        <div class="container d-flex align-items-center no-padding">
          <div class="col">
            <div class="row cols-xs-space align-items-center text-center text-md-left justify-content-center">
              <div class="col-lg-7">
                <div class="text-center mt-5">
                  <h1 class="heading h1 text-white">
                    IT - Clinic
                  </h1>
                  <p class="lead lh-180 text-white mt-3">
                    IT - Clinic merupakan sebuah platform yang bertujuan untuk menghubungkan customer yang memiliki kerusakan pada komputer nya dengan teknisi yang ada di berbagai tempat. IT - Clinic juga bertujuan untuk memberi jaminan kepuasan pelanggan karena semua proses di belakang IT - Clinic dikerjakan oleh orang-orang professional dalam bidang nya.
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="slice-lg">
      <div class="container">
        <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space">
          <div class="col-lg-6 order-lg-2 ml-lg-auto">
            <div class="block block-image">
              <img src="assets/img/about.png" class="img-fluid img-center">
            </div>
          </div>
          <div class="col-lg-5 order-lg-1">
            <div class="row-wrapper">
              <div class="row">
                <div class="col">
                  <div class="d-flex align-items-start">

                    <div class="icon-text">
                      <h3 class="heading h4">Jaminan Kepuasan</h3>
                      <p>It-Clinic menjembatani antara User dengan Teknisi, disini posisi kami adalah sebagai <b>Quality Assurance</b> untuk memastikan kepuasan customer dan juga sebagai penyedia lapangan kerja bagi teknisi.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="d-flex align-items-start">

                    <div class="icon-text">
                      <h3 class="heading h4">Terpercaya</h3>
                      <p>Tidak perlu kawatir lagi terhadap penipuan yang biasa terjadi di servis-servis konvensional, karena setiap perbaikan dan penentuan harga di manage oleh team Profesional kami yang bersertifikat.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="d-flex align-items-start">

                    <div class="icon-text">
                      <h3 class="heading h4">Bersertifikasi</h3>
                      <p>Teknisi yang diterima untuk melakukan interview disini akan dibekali dengan Program Latihan Khusus demi menjamin kualitas hasil kerja.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- footer -->
  <footer class="pt-5 pb-3 footer  footer-dark bg-tertiary">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="pr-lg-5">
            <h1 class="heading h6 text-uppercase font-weight-700 mb-3"><strong>IT-</strong>Clinic</h1>
            <p>IT-Clinic didesain dan di program untuk memenuhi tugas Design Interface dan juga Pemrograman Web Lanjut.</p>
          </div>
        </div>
        <!-- space kosong -->
        <div class="col-5"></div>
        <!-- space kosong -->
        <div class="col-1 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">Shortcut</h5>
          <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="index.html">Home</a></li>
              <li><a class="text-muted" href="sign-in.html">Sign-In</a></li>
              <li><a class="text-muted" href="register-user.html">Register User</a></li>
              <li><a class="text-muted" href="register-teknisi.html">Register Teknisi</a></li>
          </ul>
        </div>
        <div class="col-1 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="about.html">About Us</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="d-flex align-items-center">
        <span class="">
          © 2019 <a href="#" class="footer-link" target="_blank">IT-Clinic</a>
        </span>
      </div>
    </div>
  </footer>
  <!-- footer -->
  <script src="../assets/js/theme.js"></script>
</body>

</html>