<!-- delete this cuk!! -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><?php echo $title; ?></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="D:\xampp\htdocs\it-clinic\assets\css\theme.css">
    <link rel="stylesheet" href="D:\xampp\htdocs\it-clinic\assets\css\demo.css">

</head>

<!-- delete this cuk!! -->



<body>
    <!-- ini navbar -->
    <div class="row my-5 pb-5">
        <nav class="navbar navbar-expand-lg navbar-tertiary navbar-dark bg-tertiary py-2 fixed-top">
            <div class="container">
                <a class="navbar-brand" href="./"><strong>IT - Clinic</strong></a>
                </button>

                <div class="navbar-collapse" id="navbar_main">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="<?php echo site_url(); ?>login/logout">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- akhir navbar -->



    <!-- ini body -->

    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table table-hover table-cards align-items-center">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- iki pembates antar item -->
                    <tr class="bg-white">
                        <th scope="row">
                            <div class="media align-items-center">
                                <img src="#" class="avatar avatar-lg mr-3">
                                <div class="media-body">
                                    <h6 class="h5 font-weight-normal mb-0">Emihya Firdaus</h6>
                                </div>
                            </div>
                        </th>

                        <td>emihyafirdaus@gmail.com</td>

                        <td>
                            <a href="#" class="btn btn-sm btn-success" data-toggle="modal">Accept</a>
                            <a href="#" class="btn btn-sm btn-info" data-toggle="modal">Details
                            <a href="#" class="btn btn-sm btn-danger" data-toggle="modal">Decline</a>
                        </td>
                    </tr>
                    <tr class="table-divider"></tr>
                    <!-- iki pembates antar item -->

                    <!-- iki pembates antar item -->
                    <tr class="bg-white">
                        <th scope="row">
                            <div class="media align-items-center">
                                <img src="#" class="avatar avatar-lg mr-3">
                                <div class="media-body">
                                    <h6 class="h5 font-weight-normal mb-0">Dwi A. Suharmanto</h6>
                                </div>
                            </div>
                        </th>

                        <td>weebs@gmail.com</td>

                        <td>
                            <a href="#" class="btn btn-sm btn-success" data-toggle="modal">Accept</a>
                            <a href="#" class="btn btn-sm btn-info" data-toggle="modal">Details</a>
                            <a href="#" class="btn btn-sm btn-danger" data-toggle="modal">Decline</a>
                        </td>
                    </tr>
                    <tr class="table-divider"></tr>
                    <!-- iki pembates antar item -->

                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>

    </div>


    <!-- iya heeh delete aja, sama kayak kamu delete kenangan sama dia -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>